@model Tea

@{
	ViewData["Title"] = "Tea Details";
}

<div class="row">
	<div class="col-md-8 detailsset">
		<div class="card mb-12 p-4">
			<div class="row g-0">
				<div class="col-md-12">
					<div class="card-header text-white primaryColor">
						<p class="card-text">
							<h5 class="card-title">
								@Model.Name
							</h5>
						</p>
					</div>
				</div>
				<div class="col-md-4 martop">
					<img class="" src="@Model.ImageUrl" width="100%" alt="@Model.Name">
				</div>
				<div class="col-md-8">
					<div class="card-body leftcontent">
						<p class="card-text">@Model.Description</p>
						<p class="card-text">
							<b>Origin: </b>
							<a asp-controller="Origins" asp-action="Details" asp-route-id="@Model.OriginId">
								@Model.Origin.Name
							</a>
						</p>
						<p class="card-text">
							<b>Company: </b>
							<a asp-controller="Companies" asp-action="Details" asp-route-id="@Model.CompanyId">
								@Model.Company.Name
							</a>
						</p>
						<p class="card-text"><b>Category: </b>@Model.TeaCategory</p>
						<p class="card-text ">
							<b>Status: </b>
							@if (Model.Status)
							{
								<span class="badge bg-success text-white">In Stock</span>
							}
							else
							{
								<span class="badge bg-danger text-white">Out of Stock</span>
							}
						</p>
						<p class="card-text"><b>Price: </b>@Model.Price.ToString("c")</p>

						<p class="card-text">
							<b>Ingredients:</b>
							<div class="row flex-wrap">
								@foreach (var ingredient in Model.Ingredients_Teas)
								{
									<div class="col-md-3 col-6 mb-4">
										<div class="ingredient-item text-center">
											<img class="rounded-circle ingtest border-info" src="@ingredient.Ingredient.ImageUrl" />
											<p class="ingredient-name mt-2">
												<a asp-controller="Ingredients" asp-action="Details" asp-route-id="@ingredient.IngredientId">@ingredient.Ingredient.Name</a>
											</p>
										</div>
									</div>
								}
							</div>
						</p>


					</div>
				</div>
				<div class="col-md-12">
					<div class="card-footer">
						<p class="card-text">
							<a class="btn btn-outline-primary float-right" asp-action="Index">
								Back to List
							</a>
							@if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
							{
								<a class="btn btn-success text-white @((Model.Status) ? "" : " disabled"))"
								   asp-controller="Orders"
								   asp-action="AddItemToCart"
								   asp-route-id="@Model.Id">
									<i class="bi bi-cart-plus"></i> Add to Cart
								</a>
							}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>