@model IEnumerable<Ingredient>

@{
    ViewData["Title"] = "Ingredients";
}

<style>
    .ingredient-actions {
        vertical-align: middle;
    }
</style>

<div class="container ingredients-list-container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 class="text-center mb-4">Ingredients</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr class="text-center">
                            <th>@Html.DisplayNameFor(model => model.ImageUrl)</th>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <th>Actions</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ingredient in Model)
                        {
                            <tr>
                                <td class="align-middle">
                                    <img class="rounded-circle ingredient-image" src="@ingredient.ImageUrl" alt="@ingredient.Name" />
                                </td>
                                <td class="align-middle">
                                    @Html.DisplayFor(modelItem => ingredient.Name)
                                </td>
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <td class="align-middle ingredient-actions">
                                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@ingredient.Id"><i class="bi bi-pencil-square"></i> Edit</a>
                                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@ingredient.Id"><i class="bi bi-eye"></i> Details</a>
                                        <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@ingredient.Id"><i class="bi bi-trash"></i> Delete</a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_CreateItem", "Ingredients")
