@using HealthTea.Data.ViewModels;
@model CartViewModel;

@{
    ViewData["Title"] = "Cart summary";
    var count = 1;
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>Your Shopping Cart Summary</h2>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>S.N.</th>
                    <th>Tea Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Cart.CartItems)
                {
                    <tr>
                        <td>@count</td>
                        <td class="align-middle">@item.Tea.Name</td>
                        <td class="align-middle">@item.Quantity</td>
                        <td class="align-middle">@item.Tea.Price.ToString("c")</td>
                        <td class="align-middle">@((item.Quantity * item.Tea.Price).ToString("c"))</td>
                        <td class="align-middle">
                            <a class="text-danger" asp-controller="Orders" asp-action="RemoveItemFromCart"
                               asp-route-id="@item.Tea.Id">
                                <i class="bi bi-cart-dash"></i>
                            </a>
                            |
                            <a class="text-success" asp-controller="Orders" asp-action="AddItemToCart"
                               asp-route-id="@item.Tea.Id">
                                <i class="bi bi-cart-plus"></i>
                            </a>
                        </td>
                    </tr>
                    count++;
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total:</b></td>
                    <td>
                        @Model.CartTotal.ToString("c")
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <div class="text-right">
            <div class="btn-group">
                <div id="paypal-btn"></div>
                <span style="padding:5px"></span>
                <a class="btn btn-outline-success" asp-controller="Teas" asp-action="Index">
                    Add More Items
                </a>
            </div>
        </div>

    </div>
</div>

@section Scripts{

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script>

        const _total = @Html.Raw(Model.CartTotal);

        paypal.Button.render({
            env: 'sandbox',
            client: {
                sandbox: 'AbmJzdKupjTcSPvfbsvweP1K7IhlRXVbc8Ha1i4DAcmR-Ee90beKTVn9yNUOd8M7Bh9PwDx1MCOrwScv'
            },
            locale: 'en_US',
            style: {
                size: 'small',
                color: 'gold',
                shape: 'pill'
            },
            commit: true,
            payment: function (data, actions) {
                return actions.payment.create({
                    transactions: [{
                        amount: {
                            total: _total,
                            currency: 'CAD'
                        }
                    }]
                });
            },
            onAuthorize: function (data, actions) {
                return actions.payment.execute().then(function () {
                    var url = '@Url.Action("CompleteOrder", "Orders", new { })';
                    window.location.href = url;
                });
            }
        }, '#paypal-btn')
    </script>
}
