@using HealthTea.Data.ViewModels;
@model CartViewModel;

@{
    ViewData["Title"] = "Cart summary";
    var count = 1;
}

<div class="container cart-summary">
    <div class="row">

        @if (Model.Cart.CartItems.Count == 0)
        {
            <div class="text-center empty-cart">
                <p class="no-items">No items in your cart yet.</p>
                <a class="btn btn-outline-success mb-3" asp-controller="Teas" asp-action="Index">Add Items</a>
            </div>
        }
        else
        {
            <div class="col-md-8 offset-md-2">
                <div class="text-center cart-header">
                    <h2>Your Shopping Cart Summary</h2>
                </div>

                <div class="table-responsive mt-4">
                    <table class="cartTable table">
                        <thead>
                            <tr>
                                <th>S.N.</th>
                                <th>Tea Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Subtotal</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Cart.CartItems)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@item.Tea.Name</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Tea.Price.ToString("c")</td>
                                    <td>@((item.Quantity * item.Tea.Price).ToString("c"))</td>
                                    <td>
                                        <div class="cart-actions">
                                            <a class="text-danger" asp-controller="Orders" asp-action="RemoveItemFromCart"
                                       asp-route-id="@item.Tea.Id">
                                                <i class="bi bi-dash-circle"></i>
                                            </a>
                                            <a class="text-success" asp-controller="Orders" asp-action="AddItemToCart"
                                       asp-route-id="@item.Tea.Id">
                                                <i class="bi bi-plus-circle"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                count++;
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4"><b>Total:</b></td>
                                <td>@Model.CartTotal.ToString("c")</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="text-center cart-actions">
                    <div id="paypal-btn"></div>
                    <a class="btn btn-outline-success mt-2" asp-controller="Teas" asp-action="Index">Add More Items</a>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script>
        const _total = @Html.Raw(Model.CartTotal);

        paypal.Button.render({
            env: 'sandbox',
            client: {
                sandbox: 'AbmJzdKupjTcSPvfbsvweP1K7IhlRXVbc8Ha1i4DAcmR-Ee90beKTVn9yNUOd8M7Bh9PwDx1MCOrwScv'
            },
            locale: 'en_US',
            style: {
                size: 'medium',
                color: 'blue',
                shape: 'rect'
            },
            commit: true,
            payment: function (data, actions) {
                return actions.payment.create({
                    transactions: [{
                        amount: {
                            total: _total,
                            currency: 'CAD'
                        }
                    }]
                });
            },
            onAuthorize: function (data, actions) {
                return actions.payment.execute().then(function () {
                    var url = '@Url.Action("CompleteOrder", "Orders", new { })';
                    window.location.href = url;
                });
            }
        }, '#paypal-btn');
    </script>
}
